snippet plugin_config_header "plugin config header" b
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" ${1:PluginName}
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
$2
endsnippet
